.custom-header-links .headerLink a {
    padding: 4px 10px;
    color: #222222;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 5px;
    background-color: white;
    height: 32px;
    width: 78px;
    text-align: center;
    border: none;
  }