.custom-header-links .headerLink a {
    padding: 6px 10px;
    color: #222222;
    font-size: 18px;
    border-radius: 12px;
    margin-right: 0px;
    background-color: white;
    height: 36px !important;
    width: 90px !important;
    text-align: center;
    border: none;
  }

  .custom-header-links {
    margin-top: 4px;
  }

  #site-logo {
    height: 2.8em !important;
}