//Comman css 90stoys community//
//pinder.chaudhary@gmail.com//
//17-07-2024//



.d-header {
  --tw-bg-opacity: 1;
  background-color: rgb(99 52 146 / var(--tw-bg-opacity));
}


@media (min-width: 780px) {
    div.hero {
        justify-content: space-around;
        top: 60px;
    }
}
.hero {
    background: #3164fa;
    background-image: url(https://community.90stoys.com/uploads/default/original/1X/37bbaba98f7df1ce071eec384deb41671baaa688.avif);
    background-position: 50% -4%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    right: 0;
    top: 60px;
    height: 230px;
    overflow: hidden;
}

.hero-container {
    min-height: 250px;
}

@media (min-width: 780px) {
    div.hero h1 {
        display: block;
        font-family: "ManropeLight", "ManropeRegular", sans-serif;
        line-height: 56px;
        font-size: 42px;
        font-weight: 100;
        color: #fff;
        transform: none;
        position: inherit;
        text-align: left;
    }
}
.hero h1 {
    display: flex;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    color: #fff;
    font-family: "ManropeLight", "ManropeRegular", sans-serif;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
}

@media (min-width: 780px) {
    div.hero {
        justify-content: space-around;
        top: 60px;
    }
}

.navigation-controls > *:not(:last-child) {
    --tw-bg-opacity: 1;
    background-color: rgba(99, 52, 146, var(--tw-bg-opacity));
    color: white; /* Set font color to white */
    transition: background-color 0.3s ease;
}




//header text css//

.heading--pink {
  --text-shadow-color: rgba(237,74,153,0.5);
  --text-stroke-color: #4e013d;
}
@media (min-width: 1024px) {
  .heading--stroke {
      -webkit-text-stroke: 4px var(--text-stroke-color);
  }
}
.heading--stroke {
  -webkit-text-stroke: 2px var(--text-stroke-color);
}
.heading {
  text-shadow: -.07em 0 0 var(--text-shadow-color);
}

@media (min-width: 1024px) {
  .home-hero__text {
      font-size: 5.5rem;
      line-height: 1;
  }
}
.home-hero__text {
  margin-top: -30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 767px) {
  .home-hero__text {
      font-size: 3rem;
  }
}
