//Desktop css 90stoys community//
//pinder.chaudhary@gmail.com//
//17-07-2024//


.hero {
  background: #3164fa;
  background-image: url('https://community.90stoys.com/uploads/default/original/1X/7c2c87222289fccd00965155de1a190cc6b20429.png');
  background-position: 50% -4%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  right: 0;
  top: 60px;
  height: 406px;
  overflow: hidden;
}

.hero-container {
  min-height: 406px;
}

.d-header .login-button,
.d-header .sign-up-button {
    border-radius: 12px;
    background: white; /* Start with a transparent background */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.d-header .login-button:hover,
.d-header .sign-up-button:hover {
    background: white !important; /* Change background to white on hover */
}

.d-header {
    height: 5em;
}


td.category {
    display: flex;
    align-items: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1em;
    border: solid 1px rgba(221, 221, 221, .15);
    background-color: rgba(221, 221, 221, .05);
    box-shadow: 0 0 0 1px #222;
    color: #fff;
}

.category-list .topics {
    display: none;
}


#site-logo {
    height: 4.5em !important;
}

.custom-header-links .headerLink a {
    display: block;
    padding: 6px 10px;
    color: #222222;
    font-size: 15px;
    border-radius: 12px;
    margin-right: 5px;
    background-color: white;
    height: 31px;
    width: 71px;
    text-align: center;
    border: none;
  }
  
  .custom-header-links {
    margin-top: 5px;
  }

.btn-social {
    width: 115%;
}

tr[data-category-id="14"]::before {
    content: "TOY CHAT";
    font-size: 0.8706em;
    display: block; /* Optional: Ensures it appears on its own line */
    margin-bottom: 5px; /* Optional: Adds space between the text and the link */
    color: white; /* Optional: Adds color to the text */
}

tr[data-category-id="10"]::before {
    content: "GAMES";
    font-size: 0.8706em;
    display: block; /* Optional: Ensures it appears on its own line */
    margin-bottom: 5px; /* Optional: Adds space between the text and the link */
    margin-top: 5px;
    color: white; /* Optional: Adds color to the text */
}

tr[data-category-id="2"]::before {
    content: "SUPPORT";
    font-size: 0.8706em;
    display: block; /* Optional: Ensures it appears on its own line */
    margin-bottom: 5px; /* Optional: Adds space between the text and the link */
    color: white; /* Optional: Adds color to the text */
}

#categories-only-category {
  visibility: hidden;
  position: relative;
  
  &::after {
    content: "Community";
    text-transform: uppercase;
    font-size: 0.8706em;
    color: white;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#main-outlet-wrapper {
background: none;
background-repeat: no-repeat;
}

.category-logo.aspect-image img {
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

.category-list tbody tr {
    margin-bottom: 20px; /* Adjust the value as needed */
    display: block; /* Ensure the margin is applied */
}

.category-logo.aspect-image {
    float: left;
    margin: -1em 0em 0em 0 !important;
}

.category-description {
    margin-top: 2.5em !important;
}

tr[data-category-id="4"] .category-description {
    margin-left: -10.5em !important;
}

tr[data-category-id="2"] .category-description {
    margin-left: -8.2em !important;
}

tr[data-category-id="5"] .category-description {
    margin-left: -8.5em !important;
}

tr[data-category-id="6"] .category-description {
    margin-left: -3.5em !important;
}

tr[data-category-id="7"] .category-description {
    margin-left: -7em !important;
}

tr[data-category-id="8"] .category-description {
    margin-left: -10em !important;
}

tr[data-category-id="9"] .category-description {
    margin-left: -8.5em !important;
}

tr[data-category-id="10"] .category-description {
    margin-left: -8em !important;
}

tr[data-category-id="11"] .category-description {
    margin-left: -4em !important;
}

tr[data-category-id="12"] .category-description {
    margin-left: -8em !important;
}

tr[data-category-id="14"] .category-description {
    margin-left: -10em !important;
}

tr[data-category-id="15"] .category-description {
    margin-left: -7em !important;
}

tr[data-category-id="16"] .category-description {
    margin-left: -7.5em !important;
}

tr[data-category-id="17"] .category-description {
    margin-left: -8em !important;
}

tr[data-category-id="18"] .category-description {
    margin-left: -8.6em !important;
}

tr[data-category-id="3"] .category-description , .category-name{
    margin-left: -2.8em !important;
}

tr[data-category-id="3"] .category-name{
    margin-left: 3.6em !important;
}
 .category-name {
    margin-left: 94px !important;
}


//custom codes//
.navigation-controls {
    justify-content: flex-end;
}

.navigation-container {
    flex-direction: column !important;
    display: flex;
}

.nav-pills>li a.active, .nav-pills>li button.active {
    color: #ffffff !important;
    background: #fe7a15 !important;
}

#navigation-bar.nav-pills, .admin-main-nav .nav-pills {
    width: 68em;
    border-bottom: solid 1px rgba(255, 255, 255, .15);
}

.nav-pills>li a.active, .nav-pills>li button.active {
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-pills>li>a, .nav-pills>li button {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 21px;
}

.select-kit .select-kit-header .selected-name .name {
font-family: "Object Sans", Helvetica, Arial, sans-serif;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    margin-left: -0.05em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    line-height: 1.7;
    padding-left: .1em;
    padding-right: .1em;
}

.select-kit.combo-box .select-kit-header {
    border-color: transparent !important;
}

.list-controls .combo-box .combo-box-header {
    border: none !important;
}

//footer//

@media all{ 
    .relative { 
      position: relative;
    } 
  
    .mt-auto { 
      margin-top: auto;
    } 
  
    .bg-primary { 
      --tw-bg-opacity: 1; 
      background-color: #663492;
    } 
  
    .pt-7 { 
      padding-top: 2.4rem;
    } 
  
    .text-white { 
      --tw-text-opacity: 1; 
      color: rgb(255 255 255/var(--tw-text-opacity));
    } 
  
    *,:after,:before { 
      border: 0 solid; 
      box-sizing: border-box;
    } 
  
    :selection { 
      --tw-bg-opacity: 0.8; 
      --tw-text-opacity: 1; 
      background-color: rgb(99 52 146/var(--tw-bg-opacity)); 
      color: rgb(255 255 255/var(--tw-text-opacity));
    } 
  
    .container { 
      margin-left: auto; 
      margin-right: auto; 
      max-width: 71.2rem; 
      width: 100%;
    } 
  
    .container-spacing { 
      padding-left: 1.2rem; 
      padding-right: 1.2rem;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .container-spacing { 
      padding-left: 2.4rem; 
      padding-right: 2.4rem;
    } 
  }     
  
  @media all{ 
    .grid-cols-3 { 
      grid-template-columns: repeat(3,minmax(0,1fr));
    } 
  
    .text-center { 
      text-align: center;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:grid { 
      display: grid;
    } 
  
    .lg\:gap-x-7 { 
      -moz-column-gap: 2.4rem; 
      column-gap: 2.4rem;
    } 
  
    .lg\:text-left { 
      text-align: left;
    } 
  }     
  
  @media all{ 
    .mt-6 { 
      margin-top: 2rem;
    } 
  
    .items-center { 
      align-items: center;
    } 
  
    .justify-between { 
      justify-content: space-between;
    } 
  
    .border-t { 
      border-top-width: 1px;
    } 
  
    .border-white { 
      --tw-border-opacity: 1; 
      border-color: rgb(255 255 255/var(--tw-border-opacity));
    } 
  
    .py-5 { 
      padding-bottom: 1.6rem; 
      padding-top: 1.6rem;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:flex-row { 
      flex-direction: row;
    } 
  }     
  
  @media all{ 
    .col-span-1 { 
      grid-column: span 1/span 1;
    } 
  
    .justify-center { 
      justify-content: center;
    } 
  
    .gap-x-4 { 
      -moz-column-gap: 1.2rem; 
      column-gap: 1.2rem;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:hidden { 
      display: none;
    } 
  }     
  
  @media all{ 
    ul { 
      box-sizing: border-box;
    } 
  
    ul { 
      list-style: none; 
      margin: 0; 
      padding: 0;
    } 
  
    .grid { 
      display: grid;
    } 
  
    .gap-6 { 
      gap: 2rem;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:relative { 
      position: relative;
    } 
  
    .lg\:left-\[60px\] { 
      left: 60px;
    } 
  
    .lg\:grid-cols-2 { 
      grid-template-columns: repeat(2,minmax(0,1fr));
    } 
  }     
  
  @media all{ 
  
    .absolute { 
      position: absolute;
    } 
  
    .right-4 { 
      right: 1.2rem;
    } 
  
    .top-6 { 
      top: 2rem;
    } 
  
    .ml-auto { 
      margin-left: auto;
    } 
  
    .footer__top { 
      align-self: flex-start; 
      border-radius: 9999px; 
      box-shadow: 0 2px 1px rgba(0,0,0,.3);
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:static { 
      position: static;
    } 
  }     
  
  @media all{ 
  
    .mb-4 { 
      margin-bottom: 1.2rem;
    } 
  
    .font-medium { 
      font-weight: 500;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:mb-0 { 
      margin-bottom: 0;
    } 
  }     
  
  @media all{ 
  
    .mb-6 { 
      margin-bottom: 2rem;
    } 
  
    .mt-4 { 
      margin-top: 1.2rem;
    } 
  
    .text-tiny { 
      font-size: .8rem;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:pr-8 { 
      padding-right: 2.8rem;
    } 
  }     
  
  @media all{ 
    .rounded-full { 
      border-radius: 9999px;
    } 
  
    .hover\:bg-white:hover { 
      --tw-bg-opacity: 1; 
      background-color: rgb(255 255 255/var(--tw-bg-opacity));
    } 
  
    .hover\:text-primary:hover { 
      --tw-text-opacity: 1; 
      color: rgb(99 52 146/var(--tw-text-opacity));
    } 
  
    svg { 
      display: block; 
      vertical-align: middle;
    } 
  
    .h-7 { 
      height: 2.4rem;
    } 
  
    .w-7 { 
      width: 2.4rem;
    } 
  
    .hidden { 
      display: none;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .lg\:block { 
      display: block;
    } 
  }     
  
  @media all{ 
      .footer{
    img { 
      display: block; 
      vertical-align: middle;
    } 
  
    img { 
      height: auto; 
      max-width: 100%;
    } 
  
    .block { 
      display: block;
    } 
  
    .h-\[50px\] { 
      height: 50px;
    } 
  
    .w-auto { 
      width: auto;
    } 
  
    .object-contain { 
      object-fit: contain;
    } 
  
    .object-right { 
      object-position: right;
    } 
  
    .h-6 { 
      height: 2rem;
    } 
  
    .w-6 { 
      width: 2rem;
    } 
  
    .mb-3 { 
      margin-bottom: .8rem;
    } 
  
    .text-base { 
      font-size: 1rem;
    } 
  
    .font-bold { 
      font-weight: 700;
    } 
  
    .footer__logo { 
      display: block; 
      max-width: 6.3rem;
    } 
  
    .footer__logo:active,.footer__logo:hover { 
      filter: drop-shadow(0 5px 8px rgba(19,231,117,.39));
    } 
  
    .last\:mb-0:last-child { 
      margin-bottom: 0;
    } 
  
    .footer__link { 
      --tw-text-opacity: 1; 
      border-bottom-width: 1px; 
      border-color: transparent; 
      color: rgb(255 255 255/var(--tw-text-opacity)); 
      font-size: .8rem; 
      font-weight: 400;
    } 
  
    .footer__link:hover { 
      --tw-border-opacity: 1; 
      border-color: rgb(255 255 255/var(--tw-border-opacity)); 
      text-shadow: 0 0 1px #fff;
    } 
      }
  }   
  
  .footer__top path:last-child {
      fill: currentColor;
      --tw-text-opacity: 1;
      color: rgb(99 52 146 / var(--tw-text-opacity));
  }
  
  .footer__top path:first-child {
      fill: currentColor;
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .w-7 {
      width: 2.4rem;
  }
  .h-7 {
      height: 2.4rem;
  }