//Desktop css 90stoys community//
//pinder.chaudhary@gmail.com//
//17-07-2024//


.custom-header-links .headerLink a {
    display: block;
    padding: 4px 10px;
    color: #222222;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 5px;
    background-color: white;
    height: 32px;
    width: 78px;
    text-align: center;
  }
  
  .custom-header-links {
    margin-top: 5px;
  }

.btn-social {
    width: 115%;
}

tr[data-category-id="14"]::before {
    content: "TOY CHAT";
    font-size: 0.8706em;
    display: block; /* Optional: Ensures it appears on its own line */
    margin-bottom: 5px; /* Optional: Adds space between the text and the link */
    color: white; /* Optional: Adds color to the text */
}

tr[data-category-id="10"]::before {
    content: "GAMES";
    font-size: 0.8706em;
    display: block; /* Optional: Ensures it appears on its own line */
    margin-bottom: 5px; /* Optional: Adds space between the text and the link */
    margin-top: 5px;
    color: white; /* Optional: Adds color to the text */
}

tr[data-category-id="2"]::before {
    content: "SUPPORT";
    font-size: 0.8706em;
    display: block; /* Optional: Ensures it appears on its own line */
    margin-bottom: 5px; /* Optional: Adds space between the text and the link */
    color: white; /* Optional: Adds color to the text */
}

#categories-only-category {
  visibility: hidden;
  position: relative;
  
  &::after {
    content: "Community";
    text-transform: uppercase;
    font-size: 0.8706em;
    color: white;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#main-outlet-wrapper {
background: none;
background-repeat: no-repeat;
}

.category-logo.aspect-image img {
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

.category-list tbody tr {
    margin-bottom: 20px; /* Adjust the value as needed */
    display: block; /* Ensure the margin is applied */
}

.category-logo.aspect-image {
    float: left;
    margin: -1em 0em 0em 0 !important;
}

.category-description {
    margin-top: 2.5em !important;
}

tr[data-category-id="4"] .category-description {
    margin-left: -10.5em !important;
}

tr[data-category-id="2"] .category-description {
    margin-left: -8.2em !important;
}

tr[data-category-id="5"] .category-description {
    margin-left: -8.5em !important;
}

tr[data-category-id="6"] .category-description {
    margin-left: -3.5em !important;
}

tr[data-category-id="7"] .category-description {
    margin-left: -7em !important;
}

tr[data-category-id="8"] .category-description {
    margin-left: -10em !important;
}

tr[data-category-id="9"] .category-description {
    margin-left: -8.5em !important;
}

tr[data-category-id="10"] .category-description {
    margin-left: -8em !important;
}

tr[data-category-id="11"] .category-description {
    margin-left: -4em !important;
}

tr[data-category-id="12"] .category-description {
    margin-left: -8em !important;
}

tr[data-category-id="14"] .category-description {
    margin-left: -10em !important;
}

tr[data-category-id="15"] .category-description {
    margin-left: -7em !important;
}

tr[data-category-id="16"] .category-description {
    margin-left: -7.5em !important;
}

tr[data-category-id="17"] .category-description {
    margin-left: -8em !important;
}

tr[data-category-id="18"] .category-description {
    margin-left: -8.6em !important;
}

tr[data-category-id="3"] .category-description , .category-name{
    margin-left: -2.8em !important;
}

tr[data-category-id="3"] .category-name{
    margin-left: 3.6em !important;
}
 .category-name {
    margin-left: 94px !important;
}
